<!DOCTYPE html>
<html>
  <head>
    <title>Postmates Tracking</title>
    <style type="text/css">
      html, body{ height: 100%; width:100%; margin: 0; padding: 0;}
	#map-canvas{width:50%; height: 50%;}
    </style>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://cdn.firebase.com/js/client/2.1.1/firebase.js"></script>
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC6T7e95GO9dzP-pUALMwcE3wPU181lX1c">
    </script>
    <script type="text/javascript">
      var ref = new Firebase("https://freeforfee.firebaseio.com/id");

      var style = [
        {
          stylers: [
            { hue: "#7FDBD4" },
            { saturation: -20 }
          ]
        },{
          featureType: "all",
          stylers: [
            { saturation: -80 }
          ]
        },{
          featureType: "road.arterial",
          elementType: "geometry",
          stylers: [
            { hue: "#00AFAB" },
            { saturation: 80 }
          ]
        },{
          featureType: "poi.business",
          elementType: "labels",
          stylers: [
            { visibility: "on" },
            { hue: "#7FDBD4"   }
          ]
        }
      ];

      var trackermarker;
      var contentString;

      function initialize() {
        var mapOptions = {
          center: { lat: 39.957663, lng: -75.190131},
          zoom: 16,
          styles: style
        };
        var map = new google.maps.Map(document.getElementById('map-canvas'),
            mapOptions);

        trackermarker = new google.maps.Marker({
        position: new google.maps.LatLng({{latitude}}, {{longitude}}),
        map: map,
        icon: 'http://google-maps-icons.googlecode.com/files/cycling.png',
        title: "Courier is on his way!"
        });

        contentString = 'Arriving in ## minutes';

        var infowindow = new google.maps.InfoWindow({
            content: contentString
        });

        google.maps.event.addListener(trackermarker, 'click', function() {
          infowindow.open(map,trackermarker);
        });

      }

      ref.child("id/del_KAhlDHPifxa5hk").on("value", function(snap){
        alert("Value changed");
        contentString = snap.status.val();
        trackermarker.setPosition( new google.maps.LatLng(snap.lat.val(), snap.long.val()));
          
      });

      google.maps.event.addDomListener(window, 'load', initialize);


    </script>
  </head>
  <body>
<div id="map-canvas"></div>
  </body>
</html>

