<!DOCTYPE html>
<html lang='en'>
  <head>
    <title>Free for Fee</title>
    <meta charset='utf-8' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta content='' name='description' />
    <meta content='' name='author' />
    <!-- Styles -->
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='custom.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheet.css') }}"/>
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script type="text/javascript" src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script type="text/javascript" src="{{ url_for('static', filename='jquery-1.10.2.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='jquery.address.js') }}"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://cdn.firebase.com/js/client/2.1.1/firebase.js"></script>
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC6T7e95GO9dzP-pUALMwcE3wPU181lX1c">
    </script>
    <script type='text/javascript'>
      var ref = new Firebase("https://freeforfee.firebaseio.com/id");

      var style = [
        {
          stylers: [
            { hue: "#7FDBD4" },
            { saturation: -20 }
          ]
        },{
          featureType: "all",
          stylers: [
            { saturation: -80 }
          ]
        },{
          featureType: "road.arterial",
          elementType: "geometry",
          stylers: [
            { hue: "#00AFAB" },
            { saturation: 80 }
          ]
        },{
          featureType: "poi.business",
          elementType: "labels",
          stylers: [
            { visibility: "on" },
            { hue: "#7FDBD4"   }
          ]
        }
      ];

      var trackermarker;
      var contentString;
      var infowindow;

      function initialize() {
        var mapOptions = {
          center: { lat: 39.957663, lng: -75.190131},
          zoom: 15,
          styles: style
        };
        var map = new google.maps.Map(document.getElementById('map_canvas'),
            mapOptions);

        trackermarker = new google.maps.Marker({
        map: map,
        icon: 'http://google-maps-icons.googlecode.com/files/cycling.png',
        title: "Courier is on his way!"
        });

        contentString = 'Arriving in ## minutes';

        infowindow = new google.maps.InfoWindow({
            content: contentString
        });

        google.maps.event.addListener(trackermarker, 'click', function() {
          infowindow.open(map,trackermarker);
        });

      }
//
      ref.child("{{delivery_id}}").on("value", function(snap){
        /*console.log(snap.numChildren());
        console.log(snap.child('/lat').val());
        console.log(snap.child('/long').val());*/
        snap.forEach(function(childSnap){
          trackermarker.setPosition( new google.maps.LatLng(childSnap.child('/lat').val(), childSnap.child('/long').val()));
        });
        
        
      });

      google.maps.event.addDomListener(window, 'load', initialize);
    </script>
  </head>
  <body style='height:100%;'>
    <div class='navbar navbar-default navbar-static-top'>
      <div class='container-fluid' style='height:100%;'>
        <div class="navbar-header">
          <img class="logo" src="{{ url_for('static', filename='FfF.png') }}" height="150" width="150">
          <h1 class="logo">Free for Fee</h1>
        </div>
        <div class="navbar-collapse collapse">

        </div><!--/.nav-collapse -->
      </div>
    </div>
    <div class='container-fluid' style='height:100%;'>
      <div class='row'>
        <div class='col-md-4' style='height:100%;'>
          <div class='well'>
            <h3>
              <span class='bold'>Origin: </span>{{ origin }}
            </h3>
            <h3>
              <span class='bold'>Destination: </span>{{ destination }}
            </h3>
          </div>
          
          <button type="button" class="btn btn-default" aria-label="Left Align">
            <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> <h5>Questions? Comments?</h5>
          </button>
        </div>
        <div class='col-md-8' style='height:100%;'>
          <noscript>
            <div class='alert alert-info'>
              <h4>Your JavaScript is disabled</h4>
              <p>Please enable JavaScript to view the map.</p>
            </div>
          </noscript>
          <div id='map_canvas' style='height:500px;'></div>
        </p>
        </div>
      </div>
    </div>
    
  </body>
</html>
